<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.walkersguide"
    android:versionCode="9"
    android:versionName="0.5.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="org.walkersguide.utils.Globals">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name="org.walkersguide.utils.RemoteControlReceiver">
            <intent-filter android:priority="1000000">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.walkersguide.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.walkersguide.userinterface.EnterAddressActivity"
            android:label="@string/title_activity_enter_address"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name="org.walkersguide.userinterface.EnterPOIPresetNameActivity"
            android:label="@string/title_enter_poi_preset_name_activity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name="org.walkersguide.userinterface.POIPresetsActivity"
            android:label="@string/title_poi_presets"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="org.walkersguide.userinterface.AddFavoriteActivity"
            android:label="@string/title_add_favorite"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name="org.walkersguide.userinterface.RouteObjectDetailsActivity"
            android:label="@string/title_route_object_details"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="org.walkersguide.userinterface.HistoryActivity"
            android:label="@string/title_history"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="org.walkersguide.userinterface.SettingsActivity"
            android:label="@string/title_application_settings"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="org.walkersguide.userinterface.TransportRouteChooserActivity"
            android:label="@string/title_transport_route_chooser_activity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="org.walkersguide.userinterface.GPSStatusActivity"
            android:label="@string/title_gps_status_activity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="org.walkersguide.userinterface.DialogActivity"
            android:label="@string/title_dialog_activity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="org.walkersguide.userinterface.HelpActivity"
            android:label="@string/title_help_activity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="org.walkersguide.userinterface.RouteImportActivity"
            android:label="@string/title_route_import_activity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="org.walkersguide.userinterface.BlockWaySegmentActivity"
            android:label="@string/title_block_way_segment_activity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible" />
    </application>
</manifest>
